@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.flexbox {
  display: flex;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.title--size {
  font-size: 24px;
}
@media screen and (min-width: 769px) {
  .title--size {
    font-size: 40px;
  }
}

.menu--size {
  font-size: 28px;
}

.size-primary {
  font-size: 18px;
}

.size-secondary {
  font-size: 17px;
  font-weight: 300;
}

.size-tertiary {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

.title--font {
  font-weight: 700;
}

.font-primary {
  font-weight: 500;
}

.font-secondary {
  font-weight: 300;
}

.font-tertiary {
  font-weight: 400;
}

.loader {
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disappear 1000ms 2700ms forwards;
}

@keyframes disappear {
  100% {
    opacity: 0;
    transform: scale(2, 2);
    pointer-events: none;
  }
}
.fa-bell {
  top: 40px;
  font-size: 50px;
  z-index: -1;
  color: rgb(233, 161, 173);
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  20%, 60% {
    transform: rotate(6deg);
  }
  40%, 80% {
    transform: rotate(-6deg);
  }
}
.loader__items {
  justify-items: center;
}

.loader__items__cloche__top {
  background-color: rgb(183, 102, 230);
  height: 15px;
  width: 20px;
  border-radius: 100% 100% 0 0;
  clip-path: polygon(50% 0%, 100% 16%, 63% 55%, 100% 94%, 50% 100%, 0% 94%, 39% 55%, 0% 16%);
  top: 2px;
  animation: open-cloche-top 3s cubic-bezier(0.51, 0.02, 0.3, 1.09) forwards;
}

@keyframes open-cloche-top {
  50% {
    transform: translate(-40px, -32px) rotate(-20deg);
  }
  100% {
    transform: translate(-140px, -35px) rotate(-60deg);
  }
}
.loader__items__cloche {
  background-color: rgb(204, 137, 243);
  box-shadow: inset 7px 0px 7px 0px rgba(194, 76, 237, 0.7607843137);
  height: 90px;
  border-radius: 100px 100px 0 0;
  width: 100%;
  animation: open-cloche 3s cubic-bezier(0.51, 0.02, 0.3, 1.09) forwards;
}

@keyframes open-cloche {
  50% {
    transform: translate(-20px, -35px) rotate(-20deg);
  }
  100% {
    transform: translate(-100px, -55px) rotate(-60deg);
  }
}
.loader__items__plate__top {
  top: 50px;
  background-color: #9356DC;
  height: 10px;
  width: 220px;
  border-radius: 10px 10px 100px 100px;
  top: 98px;
}

.loader__items__plate {
  background-color: rgb(138, 72, 218);
  height: 10px;
  width: 140px;
  border-radius: 0 0 10px 10px;
}

.loader__items__plate__shadow {
  background-color: rgba(0, 0, 0, 0.2);
  width: 180px;
  height: 10px;
  border-radius: 80%;
  top: 113px;
  z-index: -1;
}

.back-button {
  left: 3px;
  top: 10px;
  color: black;
  border-style: none;
  list-style: none;
  text-decoration: none;
  padding: 14px 16px;
  border-radius: 25px;
  transition: background-color 1s, color 1s, box-shadow 1s;
}
.back-button:hover {
  background-color: #ffffff;
  color: #9356DC;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 769px) {
  .back-button {
    top: 25px;
  }
}

.button {
  border-radius: 25px;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(356deg, rgb(155, 89, 220) 0%, rgb(255, 121, 218) 100%);
  border-style: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: opacity 1s, box-shadow 1s;
}
.button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

.home__button {
  padding: 13px 20px;
}

.menu__button {
  text-align: center;
  padding: 13px 40px;
}

main {
  background-color: #F7F7F7;
  padding: 54px 0 64px 0;
}
main .restaurants__grid {
  grid-template: auto/1fr;
  gap: 24px;
}
@media screen and (min-width: 769px) {
  main .restaurants__grid {
    grid-auto-flow: column;
    grid-template: auto/repeat(4, 1fr);
    overflow-x: auto;
    padding: 15px 10px;
    margin-right: 0;
    scrollbar-width: none;
  }
  main .restaurants__grid:hover {
    scrollbar-width: thin;
  }
  main .restaurants__grid:hover::-webkit-scrollbar-thumb, main .restaurants__grid:focus::-webkit-scrollbar-thumb, main .restaurants__grid:active::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  main .restaurants__grid::-webkit-scrollbar {
    height: 10px;
  }
  main .restaurants__grid::-webkit-scrollbar-thumb {
    border-radius: 5px;
    visibility: hidden;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #b5b5b5;
  }
}

.restaurants__grid > a {
  border-style: none;
  list-style: none;
  text-decoration: none;
}

.restaurants__card {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  height: 251px;
}
@media screen and (min-width: 769px) {
  .restaurants__card {
    width: 335px;
  }
}

.restaurants__card__img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 65%;
  width: 100%;
}

.restaurants__new {
  right: 15px;
  padding: 8px 12px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  color: #008776;
  font-size: 14px;
  background-color: #99E2D0;
}

.restaurants__card__desc {
  margin-left: 13px;
  margin-bottom: 12px;
  color: #000000;
  justify-content: space-between;
}

.restaurants__card > a {
  border-style: none;
  list-style: none;
  text-decoration: none;
}

.restaurants__card__title {
  margin: 16px 0 5px 0;
}

.restaurants__card__location {
  margin: 0;
}

.home__heart {
  right: 30px;
  bottom: 10px;
}

.heart_container {
  background-color: #000000;
  font-size: 30px;
  height: 35px;
  width: 35px;
  text-align: center;
}

.heart_container:hover::before {
  opacity: 1;
}

.heart_container::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(200deg, rgb(155, 89, 220) 0%, rgb(167, 127, 216) 25%, rgb(255, 121, 218) 100%);
}

.fa-heart {
  transition-duration: 0.25s;
  background-color: #F7F7F7;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: lighten;
}

.heart_container:hover > .icon-noBg {
  opacity: 0;
}

.home__heart {
  margin-top: 30px;
}

.menu__heart {
  margin-right: 25px;
}

.dish__grid {
  grid-template: auto/1fr;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 40px;
}

.dish__card__container {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 12px 20px 12px 10px;
  transition: padding-right 1s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish__card__container:hover {
  padding-right: 80px;
}

.dish__card__title {
  margin: 0 40px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dish__card__desc--space {
  justify-content: space-between;
  margin-top: 5px;
}

.dish__card__desc {
  margin: 0 30px 0 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dish__price {
  text-align: right;
  display: inline-block;
  margin: 0;
}

.dish__card__container .fa-circle-check {
  transition: opacity 1s, padding-left 1s, padding-right 1s;
  opacity: 0;
}

.dish__card__container:hover .fa-circle-check {
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-circle-check {
  color: #ffffff;
  background-color: #99E2D0;
  padding: 25px 0px;
  border-radius: 0 15px 15px 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

.container-interval1, .interval1 {
  opacity: 0;
  animation: interval 500ms 0ms forwards;
}

.interval__sub1 {
  opacity: 0;
  animation: interval 500ms 300ms forwards;
}

.interval__sub2 {
  opacity: 0;
  animation: interval 500ms 600ms forwards;
}

.interval__sub3 {
  opacity: 0;
  animation: interval 500ms 900ms forwards;
}

.container-interval2, .interval2 {
  opacity: 0;
  animation: interval 500ms 1200ms forwards;
}

.interval__sub4 {
  opacity: 0;
  animation: interval 500ms 1500ms forwards;
}

.interval__sub5 {
  opacity: 0;
  animation: interval 500ms 1800ms forwards;
}

.interval__sub6 {
  opacity: 0;
  animation: interval 500ms 2100ms forwards;
}

.container-interval3, .interval3 {
  opacity: 0;
  animation: interval 500ms 2400ms forwards;
}

.interval__sub7 {
  opacity: 0;
  animation: interval 500ms 2700ms forwards;
}

.interval__sub8 {
  opacity: 0;
  animation: interval 500ms 3000ms forwards;
}

.interval__sub9 {
  opacity: 0;
  animation: interval 500ms 3300ms forwards;
}

@keyframes interval {
  0% {
    opacity: 0;
  }
  10%, 60%, 90% {
    transform: translateY(1px);
  }
  20%, 40%, 80% {
    transform: translateY(-1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}
@media screen and (min-width: 769px) {
  .logo {
    font-size: 37px;
  }
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 769px) {
  header {
    height: 96px;
  }
}

footer {
  padding: 22px 0 33px 25px;
  color: #ffffff;
  background-color: #353535;
}
@media screen and (min-width: 769px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 52px 0 43px 10px;
  }
}

footer a {
  color: #ffffff;
  border-style: none;
  list-style: none;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.footer__logo {
  margin: 0 0 25px 0;
  font-size: 18px;
}
@media screen and (min-width: 769px) {
  .footer__logo {
    order: 2;
    margin: 0 10% 0 70px;
    top: 1.2;
  }
}

.footer__icon {
  margin-right: 11px;
  width: 11px;
}

.footer--margin {
  margin-bottom: 7px;
}
@media screen and (min-width: 769px) {
  .footer--margin {
    margin-bottom: 0;
  }
}

.direction-column {
  flex-direction: column;
}
@media screen and (min-width: 769px) {
  .direction-column {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

body {
  width: 100%;
  margin: 0 auto;
}

.edges--margin {
  /*    @include edges-margins;*/
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 769px) {
  .edges--margin {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/*#region POSITION */
.bg-position {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.position__text {
  border-style: none;
  list-style: none;
  text-decoration: none;
  background-color: #EAEAEA;
  width: 135px;
  color: #353535;
  font-family: "Roboto", sans-serif;
}
.position__text:hover, .position__text:focus {
  border: 2px inset #474d48;
  height: 80%;
}
.position__text:focus-visible {
  outline: none;
}

/*#endregion POSITION */
/*#region RESERVATION */
.reservation {
  padding: 19px 0 57px 0;
  background-color: #F7F7F7;
}

.reservation__title {
  margin-block-end: 0;
}

.reservation__desc {
  margin-top: 10px;
  margin-bottom: 30px;
}

/*#endregion RESERVATION */
/*#region FUNCTIONING */
.functioning {
  padding: 48px 0 68px 0;
}

.functioning__grid {
  grid-template: auto/1fr;
  gap: 24px;
  padding-inline-start: 0;
}
@media screen and (min-width: 769px) {
  .functioning__grid {
    grid-template: auto/repeat(3, 1fr);
  }
}

.functioning__grid > li {
  border-style: none;
  list-style: none;
  text-decoration: none;
  background-color: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin-left: 10px;
}
.functioning__grid > li:last-child {
  background-color: #F5EDFF;
}

.functioning__numbers__container {
  height: 100%;
  margin-left: -10px;
}

.functioning__numbers {
  border-radius: 40px;
  padding: 1px 6px;
  margin: auto;
  color: #ffffff;
  background-color: #9356DC;
}

.functioning__steps {
  padding: 27px 38px 25px 33px;
  align-items: center;
}

.icon--padding {
  padding-right: 27px;
}

/*#endregion FUNCTIONING*/
.menu__title {
  font-family: "Shrikhand", sans-serif;
}

.menu__subtitle {
  text-transform: uppercase;
}

.menu__price {
  font-size: 15px;
}

.menu__main {
  border-radius: 40px 40px 0 0;
  padding: 8px 13px 40px 13px;
  margin-top: -70px;
}
@media screen and (min-width: 769px) {
  .menu__main {
    margin-left: 7%;
    margin-right: 7%;
    padding: 28px 10% 40px 10%;
  }
}

.menu__img {
  width: 100%;
  object-fit: cover;
  height: 275px;
}

.menu__heading {
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .menu__heading {
    justify-content: center;
    gap: 25px;
  }
}

.container__menu__subtitle {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.menu__subtitle {
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
