footer {
    padding: 22px 0 33px 25px;
    color: $color-primary;
    background-color: $color-tertiary;

    @include desktop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 52px 0 43px 10px;
    }
}

footer a {
    color: $color-primary;
    @include link-hover;
}

.footer__logo {
    margin: 0 0 25px 0;
    font-size: 18px;

    @include desktop {
        order: 2;
        margin: 0 10% 0 70px;
        top: 1.2;
    }
}

.footer__icon {
    margin-right: 11px;
    width: 11px;
}

.footer--margin {
    margin-bottom: 7px;

    @include desktop {
        margin-bottom: 0;
    }
}

.direction-column {
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}