.back-button {
    position: absolute;
    left: 0;
    top: 10px;
    color: black;
    @include no-decoration;
    padding: 14px 16px;
    @include cursor-pointer;
    @include button-border-radius;
    transition: background-color 1s, color 1s, box-shadow 1s;
    
    &:hover {
        background-color: $color-primary;
        color: $bg-secondary;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
}