.button {
    @include button-border-radius;
    color: $color-primary;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background-image: $bg-gradient;
    @include no-decoration;
    font-family: 'Roboto', sans-serif;
    @include cursor-pointer;
    transition: opacity 1s, box-shadow 1s;

    &:hover {
        opacity: 0.8;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    }
}

.home__button {
    padding: 13px 20px;
}

.menu__button {
    text-align: center;
    padding: 13px 40px;
}