.button {
    border-radius: 25px;
    padding: 15px 20px;
    color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(357deg, #9356DC -5.2%, #FF79DA 110.74%);
    border-style: none;
    font-family: 'Roboto', sans-serif;
}