.heart_container {
  background-color: #000000;
  font-size: 30px;
  height: 35px;
  width: 35px;
  text-align: center;
}
  
.heart_container:hover::before {
  opacity: 1;
}
      
.heart_container::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $bg-gradient-heart;
}
      
.fa-heart {
  transition-duration: .25s;
  background-color: $bg-primary;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: lighten;
}

.heart_container:hover > .icon-noBg {
  opacity: 0;
}

.home__heart {
  margin-top: 30px;
}

.menu__heart {
  margin-right: 25px;
}