.container-interval1, .interval1 {
    @include intervals;
}

.interval__sub1 {
    @include intervals(300ms);
}

.interval__sub2 {
    @include intervals(600ms);
}

.interval__sub3 {
    @include intervals(900ms);
}

.container-interval2, .interval2 {
    @include intervals(1200ms);
}

.interval__sub4 {
    @include intervals(1500ms);
}

.interval__sub5 {
    @include intervals(1800ms);
}

.interval__sub6 {
    @include intervals(2100ms);
}

.container-interval3, .interval3 {
    @include intervals(2400ms);
}

.interval__sub7 {
    @include intervals(2700ms);
}

.interval__sub8 {
    @include intervals(3000ms);
}

.interval__sub9 {
    @include intervals(3300ms);
}

@keyframes interval {
    0% {
        opacity: 0;
    }

    10%, 60%, 90% {
        transform: translateY(1px);
    }

    20%, 40%, 80% {
        transform: translateY(-1px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}