main {
    background-color: #F7F7F7;
    padding: 54px 0 64px 0;
}

.restaurants__grid {
    display: grid;
    grid-template: auto / 1fr;
    gap: 24px;
}

.no-decoration {
    text-decoration: none;
    color: black;
}

.restaurants__card {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    height: 251px;
    position: relative;
}

.restaurants__card__img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 65%;
    width: 100%;
}

.restaurants__new {
    position: absolute;
    right: 15px;
    padding: 8px 12px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #008766;
    font-size: 14px;
    background-color: #99E2D0;
    cursor: pointer;
}

.restaurants__card__desc {
    margin-left: 13px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.restaurants__card__title {
    margin: 16px 0 5px 0;
    text-decoration: none;
}

.restaurants__card__location {
    margin: 0;
}

.fa-heart {
    position: absolute;
    font-size: 30px;
    right: 30px;
    bottom: 10px;    

    &:hover {
    background: linear-gradient(200deg,rgba(155, 89, 220, 1) 0%,rgba(167, 127, 216, 1) 25%, rgba(255, 121, 218, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: heart-fill 500ms;
    cursor: pointer;
    }
}

@keyframes heart-fill {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}