.title--size {
    font-size: 24px;

    @include desktop {
        font-size: 40px;
    }
}

.size-primary {
    font-size: 18px;
}

.size-secondary {
    font-size: 17px;
    font-weight: 300;
}

.size-tertiary {
    font-size: 16px;
}