body {
    width: 100%;
    margin: 0 auto;
}

.edges--margin {
/*    @include edges-margins;*/
    margin-left: 20px;
    margin-right: 20px;

    @include edges--margin-desktop;
}

/*#region POSITION */

.bg-position {
    background-color: $bg-position;
    @include text-center;
    height: 50px;
    @include flexbox-center;
    gap: 17px;
}

.position__text {
    @include no-decoration;
    background-color: $bg-position;
    width: 135px;
    color: $color-tertiary;
    font-family: 'Roboto', sans-serif;
    
    &:focus-visible {
        outline: none;
    }
}

/*#endregion POSITION */

/*#region RESERVATION */

.reservation {
    @include text-center;
    padding: 19px 0 57px 0;
    background-color: $bg-primary;
}

.reservation__title {
    margin-block-end: 0;
}

.reservation__desc {
    margin-top: 10px;
    margin-bottom: 30px;
}

/*#endregion RESERVATION */

/*#region FUNCTIONING */

.functioning {
    padding: 48px 0 68px 0;
}

.functioning__grid {
    @include grid-column;
    gap: 24px;
    padding-inline-start: 0;

    @include desktop {
        grid-template: auto / repeat(3, 1fr);
    }
}

.functioning__grid > li {
    @include position-relative;
    @include no-decoration;
}

.functioning__div__numbers {
    @include position-absolute;
    @include flexbox;
    height: 100%;
}

.functioning__numbers {
    border-radius: 40px;
    padding: 1px 6px;
    margin: auto;
    color: $color-primary;
    background-color: $bg-secondary;
}

.functioning__steps {
    background-color: $bg-primary;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding: 27px 38px 25px 33px;
    margin-left: 7px;
    @include flexbox-center-cross-axis;
}

.bg-last-functioning {
    background-color: $bg-last-functioning;
}

.icon--padding {
    padding-right: 27px;
}

/*#endregion FUNCTIONING*/