body {
    width: 100%;
    margin: 0 auto;
}

.edges--margin {
    margin-left: 20px;
    margin-right: 20px;

    @include edges--margin-desktop;
}

/*#region POSITION */

.bg-position {
    background-color: #EAEAEA;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.position__text {
    border-style: none;
    background-color:  #EAEAEA;
    width: 135px;
    color: #353535;
    font-family: 'Roboto', sans-serif;
    
    &:focus-visible {
        outline: none;
    }
}

/*#endregion POSITION */

/*#region RESERVATION */

.reservation {
    text-align: center;
    padding: 19px 0 57px 0;
    background-color: #F7F7F7;
}

.reservation__title {
    margin-block-end: 0;
}

.reservation__desc {
    margin-top: 10px;
    margin-bottom: 30px;
}

/*#endregion RESERVATION */

/*#region PRESENTATION */

.presentation {
    padding: 48px 0 68px 0;
}

.no-decoration {
    list-style: none;
    border-style: none;
}

.presentation__grid {
    display: grid;
    grid-template: auto / 1fr;
    gap: 24px;
    padding-inline-start: 0;

    @include desktop {
        grid-template: auto / repeat(3, 1fr);
    }
}

.presentation__grid > li {
    position: relative;
}

.presentation__div__numbers {
    position: absolute;
    display: flex;
    height: 100%;
}

.presentation__numbers {
    border-radius: 40px;
    padding: 1px 6px;
    margin: auto;
    color: #FFFFFF;
    background-color: #9356DC;
}

.presentation__steps {
    background-color: #F7F7F7;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding: 27px 38px 25px 33px;
    margin-left: 7px;
    display: flex;
    align-items: center;
}

.bg-last-presentation {
    background-color: #F5EDFF;
}

.icon--padding {
    padding-right: 27px;
}

/*#endregion PRESENTATION*/