.menu__title {
    font-family: 'Shrikhand', sans-serif;
}

.menu__subtitle {
    text-transform: uppercase;
}

.menu__price {
    font-size: 15px;
}

.menu__main {
    border-radius: 40px 40px 0 0;
    padding: 8px 13px 40px 13px;
    margin-top: -70px;

    @include desktop {
        margin-left: 7%;
        margin-right: 7%;
        padding: 28px 10% 40px 10%;
    }
}

.menu__img {
    width: 100%;
    object-fit: cover;
    height: 275px;
}

.menu__heading {
    justify-content: space-between;
    align-items: center;

    @include desktop {
        justify-content: center;
        gap: 25px;
    }
}

.container__menu__subtitle {
    border-bottom: 3px solid $bg-checked;
    width: 40px;
}

.menu__subtitle {
    margin-bottom: 5px;
}