.bg-position {
    background-color: #EAEAEA;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 12px;
}

.position__text {
    display: inline;
    margin-left: 15px;
}