@mixin desktop {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin edges--margin-desktop {
    @include desktop {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@mixin flexbox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin no-decoration {
    border-style: none;
    list-style: none;
    text-decoration: none;
}

@mixin link-hover {
    border-style: none;
    list-style: none;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}